#wholePage{
  background-color: #F9FAFB;
}
#wholePage .checkboxes {
  margin-bottom: 56px;
}

.container {
  margin-right: 24px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}